
.background-about{
  background: url(/components/src/img/about-me-bg.jpg) no-repeat;
  background-size: 100%;
  background-color: #fff;  
  box-shadow: 0 0 2px 0 rgb(51 51 51 / 8%), 0 0 2px 0 rgb(51 51 51 / 8%);
}

.picture-about{
  text-align: center;
  padding: 40px 20px 10px;
}

.picture-about img{
  width: 70%;
  border-radius: 50%;
  border: 6px solid #fff;

}

.about-img{
padding-top: 8%;
}

.sidebar h2{
  text-align: center;
  font-family: Oswald;
  font-size: 2rem;
  text-transform: uppercase;
}

.about-content p{
  text-align: justify;
  padding: 10px 40px;
  font-size: 1.5rem;
}

.medias-about{
  text-align: center;
  padding: 10px 10px 40px;
}

.medias-about img{
  width: 30px;
  margin: 5px;
}