.instagram-link{
  color: #444;
}

.instagram-link:hover{
  color: #da521e;
}

.instagram-feed{
  text-align: center;
  background: #fff;
  padding: 20px;
}

.instagram-feed h2{
  color: #444;
  font-family: Oswald;
  margin: unset;
  font-size: 2.5rem;
}